In [169]:
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn import datasets, metrics
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV, LinearRegression

df = pd.read_csv("/Users/bridmcnulty/Desktop/cleaned_data.csv", low_memory=False)
df.head()

,Unnamed: 0,id,host_id,host_name,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_verifications,host_has_profile_pic,...,host_since_ago,latlongzip,tube_proximity,price_pp,estimated_monthly_bookings,avg_length_of_stay,new_or,capped_or,capped_or_income,capped_or_income_less_cleaning_fee
0,0,13913,54730,Alina,within a day,60.0,0,4.0,"['email', 'phone', 'facebook', 'reviews']",1,...,3467,"(51.568020000000004, -0.11120999999999999)",0.523494,32.500000,0.26,4.6,0.01196,0.01196,20.8,16.9
1,1,15400,60302,Philippa,within a few hours,100.0,0,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",1,...,3448,"(51.48796, -0.16898)",0.728651,50.000000,1.44,4.6,0.06624,0.06624,216.0,144.0
2,2,17402,67564,Liz,within a few hours,88.0,1,16.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",1,...,3418,"(51.52098, -0.14002)",0.390565,83.333333,0.80,4.6,0.03680,0.03680,452.0,400.0
3,3,24328,41759,Joe,within a day,100.0,1,3.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",1,...,3516,"(51.47298, -0.16376)",2.189671,43.750000,1.82,30.0,0.54600,0.54600,445.9,318.5
4,4,25023,102813,Amanda,within an hour,100.0,1,1.0,"['email', 'phone', 'reviews']",1,...,3329,"(51.446870000000004, -0.21874000000000002)",0.877523,16.250000,1.42,4.6,0.06532,0.06532,163.3,92.3

In [170]:
import re
amen = df.amenities[50]
amen = amen.replace('"','').replace('{','').replace('}','')
amen = amen.split(",")
amen

['TV',
 'Cable TV',
 'Wifi',
 'Kitchen',
 'Free parking on premises',
 'Heating',
 'Washer',
 'Smoke detector',
 'Carbon monoxide detector',
 'Fire extinguisher',
 'Essentials',
 'Shampoo',
 'Lock on bedroom door',
 'Hangers',
 'Hair dryer',
 'Iron',
 'Laptop friendly workspace',
 'Hot water',
 'Bed linens',
 'Extra pillows and blankets',
 'Microwave',
 'Coffee maker',
 'Refrigerator',
 'Dishwasher',
 'Dishes and silverware',
 'Cooking basics',
 'Oven',
 'Stove',
 'Garden or backyard',
 'Luggage dropoff allowed',
 'Long term stays allowed',
 'Other']

In [171]:
def amenity_counter(x):
    return x.count(r'Wifi')

df['a_wifi'] = df.amenities.map(amenity_counter)
df.a_wifi.value_counts()

1    44538
0     1077
Name: a_wifi, dtype: int64

In [172]:
def amenity_counter(x):
    return x.count(r'TV')

df['a_TV'] = df.amenities.map(amenity_counter)
df.a_TV.value_counts()

1    24894
0    12504
2     8077
3      139
4        1
Name: a_TV, dtype: int64

In [173]:
def amenity_counter(x):
    return x.count(r'Cable TV')

df['a_cable_tv'] = df.amenities.map(amenity_counter)
df.a_cable_tv.value_counts()

0    37360
1     8255
Name: a_cable_tv, dtype: int64

In [174]:
def amenity_counter(x):
    return x.count(r'Kitchen')

df['a_kitchen'] = df.amenities.map(amenity_counter)
df.a_kitchen.value_counts()

1    41750
0     3808
2       57
Name: a_kitchen, dtype: int64

In [175]:
def amenity_counter(x):
    return x.count(r'Paid parking off premises')

df['a_paid_parking_off_premises'] = df.amenities.map(amenity_counter)
df.a_paid_parking_off_premises.value_counts()

0    35598
1    10017
Name: a_paid_parking_off_premises, dtype: int64

In [176]:
def amenity_counter(x):
    return x.count(r'Smoking allowed')

df['a_smoking_allowed'] = df.amenities.map(amenity_counter)
df.a_smoking_allowed.value_counts()

0    42834
1     2781
Name: a_smoking_allowed, dtype: int64

In [177]:
def amenity_counter(x):
    return x.count(r'Free street parking')

df['a_free_street_parking'] = df.amenities.map(amenity_counter)
df.a_free_street_parking.value_counts()

0    40417
1     5198
Name: a_free_street_parking, dtype: int64

In [178]:
def amenity_counter(x):
    return x.count(r'Buzzer/wireless intercom')

df['a_buzzer_intercom'] = df.amenities.map(amenity_counter)
df.a_buzzer_intercom.value_counts()

0    39323
1     6292
Name: a_buzzer_intercom, dtype: int64

In [179]:
def amenity_counter(x):
    return x.count(r'Heating')

df['a_heating'] = df.amenities.map(amenity_counter)
df.a_heating.value_counts()

1    43818
0     1797
Name: a_heating, dtype: int64

In [180]:
def amenity_counter(x):
    return x.count(r'Family/kid friendly')

df['a_family_friendly'] = df.amenities.map(amenity_counter)
df.a_family_friendly.value_counts()

0    28493
1    17122
Name: a_family_friendly, dtype: int64

In [181]:
def amenity_counter(x):
    return x.count(r'Washer')

df['a_washer'] = df.amenities.map(amenity_counter)
df.a_washer.value_counts()

1    39110
0     6503
2        2
Name: a_washer, dtype: int64

In [182]:
def amenity_counter(x):
    return x.count(r'Dryer')

df['a_dryer'] = df.amenities.map(amenity_counter)
df.a_dryer.value_counts()

0    24363
1    21251
2        1
Name: a_dryer, dtype: int64

In [183]:
def amenity_counter(x):
    return x.count(r'Smoke detector')

df['a_smoke_detector'] = df.amenities.map(amenity_counter)
df.a_smoke_detector.value_counts()

1    40424
0     5191
Name: a_smoke_detector, dtype: int64

In [184]:
def amenity_counter(x):
    return x.count(r'Carbon monoxide detector')

df['a_carbon_monoxide_detector'] = df.amenities.map(amenity_counter)
df.a_carbon_monoxide_detector.value_counts()

1    28440
0    17175
Name: a_carbon_monoxide_detector, dtype: int64

In [185]:
def amenity_counter(x):
    return x.count(r'Fire extinguisher')

df['a_fire_extinguisher'] = df.amenities.map(amenity_counter)
df.a_fire_extinguisher.value_counts()

0    29332
1    16283
Name: a_fire_extinguisher, dtype: int64

In [186]:
def amenity_counter(x):
    return x.count(r'Essentials')

df['a_essentials'] = df.amenities.map(amenity_counter)
df.a_essentials.value_counts()

1    43945
0     1670
Name: a_essentials, dtype: int64

In [187]:
def amenity_counter(x):
    return x.count(r'Shampoo')

df['a_shampoo'] = df.amenities.map(amenity_counter)
df.a_shampoo.value_counts()

1    34483
0    11132
Name: a_shampoo, dtype: int64

In [188]:
def amenity_counter(x):
    return x.count(r'Lock on bedroom door')

df['a_lock_bedroom_door'] = df.amenities.map(amenity_counter)
df.a_lock_bedroom_door.value_counts()

0    33879
1    11736
Name: a_lock_bedroom_door, dtype: int64

In [189]:
def amenity_counter(x):
    return x.count(r'Hangers')

df['a_hangers'] = df.amenities.map(amenity_counter)
df.a_hangers.value_counts()

1    39301
0     6314
Name: a_hangers, dtype: int64

In [190]:
def amenity_counter(x):
    return x.count(r'Hair dryer')

df['a_hair_dryer'] = df.amenities.map(amenity_counter)
df.a_hair_dryer.value_counts()

1    36251
0     9364
Name: a_hair_dryer, dtype: int64

In [191]:
def amenity_counter(x):
    return x.count(r'Iron')

df['a_iron'] = df.amenities.map(amenity_counter)
df.a_iron.value_counts()

1    37819
0     7795
2        1
Name: a_iron, dtype: int64

In [192]:
def amenity_counter(x):
    return x.count(r'Laptop friendly workspace')

df['a_laptop_workspace'] = df.amenities.map(amenity_counter)
df.a_laptop_workspace.value_counts()

1    31752
0    13863
Name: a_laptop_workspace, dtype: int64

In [193]:
def amenity_counter(x):
    return x.count(r'Outlet covers')

df['a_outlet_covers'] = df.amenities.map(amenity_counter)
df.a_outlet_covers.value_counts()

0    45391
1      224
Name: a_outlet_covers, dtype: int64

In [194]:
def amenity_counter(x):
    return x.count(r'Bathtub')

df['a_bath'] = df.amenities.map(amenity_counter)
df.a_bath.value_counts()

0    41032
1     4551
2       32
Name: a_bath, dtype: int64

In [195]:
def amenity_counter(x):
    return x.count(r'Children’s books and toys')

df['a_childrens_toys'] = df.amenities.map(amenity_counter)
df.a_childrens_toys.value_counts()

0    43346
1     2269
Name: a_childrens_toys, dtype: int64

In [196]:
def amenity_counter(x):
    return x.count(r'Babysitter recommendations')

df['a_babysitter_recs'] = df.amenities.map(amenity_counter)
df.a_babysitter_recs.value_counts()

0    44516
1     1099
Name: a_babysitter_recs, dtype: int64

In [197]:
def amenity_counter(x):
    return x.count(r'Crib')

df['a_crib'] = df.amenities.map(amenity_counter)
df.a_crib.value_counts()

0    43092
1     2523
Name: a_crib, dtype: int64

In [198]:
def amenity_counter(x):
    return x.count(r'Pack ’n Play/travel crib')

df['a_travel_crib'] = df.amenities.map(amenity_counter)
df.a_travel_crib.value_counts()

0    43033
1     2582
Name: a_travel_crib, dtype: int64

In [199]:
def amenity_counter(x):
    return x.count(r'Room-darkening shades')

df['a_room_darkening_shades'] = df.amenities.map(amenity_counter)
df.a_room_darkening_shades.value_counts()

0    43794
1     1821
Name: a_room_darkening_shades, dtype: int64

In [200]:
def amenity_counter(x):
    return x.count(r'Children’s dinnerware')

df['a_childrens_dinnerware'] = df.amenities.map(amenity_counter)
df.a_childrens_dinnerware.value_counts()

0    44555
1     1060
Name: a_childrens_dinnerware, dtype: int64

In [201]:
def amenity_counter(x):
    return x.count(r'Hot water')

df['a_hot_water'] = df.amenities.map(amenity_counter)
df.a_hot_water.value_counts()

1    30026
0    15338
2      251
Name: a_hot_water, dtype: int64

In [202]:
def amenity_counter(x):
    return x.count(r'Bed linens')

df['a_bed_linens'] = df.amenities.map(amenity_counter)
df.a_bed_linens.value_counts()

0    27057
1    18558
Name: a_bed_linens, dtype: int64

In [203]:
def amenity_counter(x):
    return x.count(r'Extra pillows and blankets')

df['a_extra_pillows'] = df.amenities.map(amenity_counter)
df.a_extra_pillows.value_counts()

0    36191
1     9424
Name: a_extra_pillows, dtype: int64

In [204]:
def amenity_counter(x):
    return x.count(r'Ethernet connection')

df['a_ethernet'] = df.amenities.map(amenity_counter)
df.a_ethernet.value_counts()

0    43413
1     2202
Name: a_ethernet, dtype: int64

In [205]:
def amenity_counter(x):
    return x.count(r'Coffee maker')

df['a_coffee_maker'] = df.amenities.map(amenity_counter)
df.a_coffee_maker.value_counts()

0    36272
1     9343
Name: a_coffee_maker, dtype: int64

In [206]:
def amenity_counter(x):
    return x.count(r'Refrigerator')

df['a_fridge'] = df.amenities.map(amenity_counter)
df.a_fridge.value_counts()

0    26810
1    18805
Name: a_fridge, dtype: int64

In [207]:
def amenity_counter(x):
    return x.count(r'Dishes and silverware')

df['a_dishes_silverware'] = df.amenities.map(amenity_counter)
df.a_dishes_silverware.value_counts()

0    28613
1    17002
Name: a_dishes_silverware, dtype: int64

In [208]:
def amenity_counter(x):
    return x.count(r'Cooking basics')

df['a_cooking_basics'] = df.amenities.map(amenity_counter)
df.a_cooking_basics.value_counts()

0    29403
1    16212
Name: a_cooking_basics, dtype: int64

In [209]:
def amenity_counter(x):
    return x.count(r'Oven')

df['a_oven'] = df.amenities.map(amenity_counter)
df.a_oven.value_counts()

0    28333
1    17282
Name: a_oven, dtype: int64

In [210]:
def amenity_counter(x):
    return x.count(r'Stove')

df['a_stove'] = df.amenities.map(amenity_counter)
df.a_stove.value_counts()

0    30296
1    15319
Name: a_stove, dtype: int64

In [211]:
def amenity_counter(x):
    return x.count(r'Patio or balcony')

df['a_patio_balcony'] = df.amenities.map(amenity_counter)
df.a_patio_balcony.value_counts()

0    39705
1     5910
Name: a_patio_balcony, dtype: int64

In [212]:
def amenity_counter(x):
    return x.count(r'Luggage dropoff allowed')

df['a_luggage_dropoff'] = df.amenities.map(amenity_counter)
df.a_luggage_dropoff.value_counts()

0    35968
1     9647
Name: a_luggage_dropoff, dtype: int64

In [213]:
def amenity_counter(x):
    return x.count(r'Long term stays allowed')

df['a_long_term_stay_allowed'] = df.amenities.map(amenity_counter)
df.a_long_term_stay_allowed.value_counts()

0    31650
1    13965
Name: a_long_term_stay_allowed, dtype: int64

In [214]:
def amenity_counter(x):
    return x.count(r'Step-free access')

df['a_step_free_access'] = df.amenities.map(amenity_counter)
df.a_step_free_access.value_counts()

0    41395
3     1211
2     1026
1      998
4      985
Name: a_step_free_access, dtype: int64

In [215]:
def amenity_counter(x):
    return x.count(r'Wide doorway')

df['a_wide_doorway'] = df.amenities.map(amenity_counter)
df.a_wide_doorway.value_counts()

0    43118
1     1089
3      725
2      683
Name: a_wide_doorway, dtype: int64

In [216]:
def amenity_counter(x):
    return x.count(r'Accessible-height bed')

df['a_accessible_height_bed'] = df.amenities.map(amenity_counter)
df.a_accessible_height_bed.value_counts()

0    44167
1     1448
Name: a_accessible_height_bed, dtype: int64

In [217]:
def amenity_counter(x):
    return x.count(r'Bathtub with bath chair')

df['a_bath_w_bath_chair'] = df.amenities.map(amenity_counter)
df.a_bath_w_bath_chair.value_counts()

0    45533
1       82
Name: a_bath_w_bath_chair, dtype: int64

In [218]:
def amenity_counter(x):
    return x.count(r'Accessible-height toilet')

df['a_accessible_height_toilet'] = df.amenities.map(amenity_counter)
df.a_accessible_height_toilet.value_counts()

0    44561
1     1054
Name: a_accessible_height_toilet, dtype: int64

In [219]:
def amenity_counter(x):
    return x.count(r'Host greets you')

df['a_host_greets_you'] = df.amenities.map(amenity_counter)
df.a_host_greets_you.value_counts()

0    32377
1    13238
Name: a_host_greets_you, dtype: int64

In [220]:
def amenity_counter(x):
    return x.count(r'Handheld shower head')

df['a_handheld_shower_head'] = df.amenities.map(amenity_counter)
df.a_handheld_shower_head.value_counts()

0    43885
1     1730
Name: a_handheld_shower_head, dtype: int64

In [221]:
def amenity_counter(x):
    return x.count(r'Wide clearance to bed')

df['a_wide_clearance_to_bed'] = df.amenities.map(amenity_counter)
df.a_wide_clearance_to_bed.value_counts()

0    43867
1     1748
Name: a_wide_clearance_to_bed, dtype: int64

In [222]:
def amenity_counter(x):
    return x.count(r'Roll-in shower')

df['a_roll_in_shower'] = df.amenities.map(amenity_counter)
df.a_roll_in_shower.value_counts()

0    45357
1      258
Name: a_roll_in_shower, dtype: int64

In [223]:
def amenity_counter(x):
    return x.count(r'High chair')

df['a_high_chair'] = df.amenities.map(amenity_counter)
df.a_high_chair.value_counts()

0    42743
1     2872
Name: a_high_chair, dtype: int64

In [224]:
def amenity_counter(x):
    return x.count(r'Well-lit path to entrance')

df['a_well_lit_entrance'] = df.amenities.map(amenity_counter)
df.a_well_lit_entrance.value_counts()

0    42208
1     3407
Name: a_well_lit_entrance, dtype: int64

In [225]:
def amenity_counter(x):
    return x.count(r'Flat path to front door')

df['a_flat_path_front_door'] = df.amenities.map(amenity_counter)
df.a_flat_path_front_door.value_counts()

0    43410
1     2205
Name: a_flat_path_front_door, dtype: int64

In [226]:
def amenity_counter(x):
    return x.count(r'Smart lock')

df['a_smart_lock'] = df.amenities.map(amenity_counter)
df.a_smart_lock.value_counts()

0    45053
1      562
Name: a_smart_lock, dtype: int64

In [227]:
def amenity_counter(x):
    return x.count(r'Full kitchen')

df['a_full_kitchen'] = df.amenities.map(amenity_counter)
df.a_full_kitchen.value_counts()

0    44795
1      820
Name: a_full_kitchen, dtype: int64

In [228]:
def amenity_counter(x):
    return x.count(r'Hot water kettle')

df['a_kettle'] = df.amenities.map(amenity_counter)
df.a_kettle.value_counts()

0    45305
1      310
Name: a_kettle, dtype: int64

In [229]:
def amenity_counter(x):
    return x.count(r'Wide entryway')

df['a_wide_entryway'] = df.amenities.map(amenity_counter)
df.a_wide_entryway.value_counts()

0    44257
1     1358
Name: a_wide_entryway, dtype: int64

In [230]:
def amenity_counter(x):
    return x.count(r'Hot tub')

df['a_hot_tub'] = df.amenities.map(amenity_counter)
df.a_hot_tub.value_counts()

0    44009
1     1606
Name: a_hot_tub, dtype: int64

In [231]:
def amenity_counter(x):
    return x.count(r'Single level home')

df['a_single_level_home'] = df.amenities.map(amenity_counter)
df.a_single_level_home.value_counts()

0    42443
1     3172
Name: a_single_level_home, dtype: int64

In [232]:
def amenity_counter(x):
    return x.count(r'Suitable for events')

df['a_events'] = df.amenities.map(amenity_counter)
df.a_events.value_counts()

0    44859
1      756
Name: a_events, dtype: int64

In [233]:
def amenity_counter(x):
    return x.count(r'Free street parking')

df['a_free_street_parking'] = df.amenities.map(amenity_counter)
df.a_free_street_parking.value_counts()

0    40417
1     5198
Name: a_free_street_parking, dtype: int64

In [234]:
def amenity_counter(x):
    return x.count(r'Toilet paper')

df['a_toilet_paper'] = df.amenities.map(amenity_counter)
df.a_stove.value_counts()

0    30296
1    15319
Name: a_stove, dtype: int64

In [235]:
def amenity_counter(x):
    return x.count(r'Bathroom essentials')

df['a_bathroom_essentials'] = df.amenities.map(amenity_counter)
df.a_stove.value_counts()

0    30296
1    15319
Name: a_stove, dtype: int64

In [236]:
def amenity_counter(x):
    return x.count(r'Bedroom comforts')

df['a_bedroom_comforts'] = df.amenities.map(amenity_counter)
df.a_bedroom_comforts.value_counts()

0    45132
1      483
Name: a_bedroom_comforts, dtype: int64

In [237]:
def amenity_counter(x):
    return x.count(r'Wheelchair accessible')

df['a_wheelchair_access'] = df.amenities.map(amenity_counter)
df.a_stove.value_counts()

0    30296
1    15319
Name: a_stove, dtype: int64

In [238]:
def amenity_counter(x):
    return x.count(r'Pool')

df['a_pool'] = df.amenities.map(amenity_counter)
df.a_pool.value_counts()

0    45341
1      274
Name: a_pool, dtype: int64

In [239]:
def amenity_counter(x):
    return x.count(r'Doorman')

df['a_doorman'] = df.amenities.map(amenity_counter)
df.a_doorman.value_counts()

0    44843
1      772
Name: a_doorman, dtype: int64

In [240]:
def amenity_counter(x):
    return x.count(r'Bath towel')

df['a_bath_towel'] = df.amenities.map(amenity_counter)
df.a_bath_towel.value_counts()

0    45136
1      479
Name: a_bath_towel, dtype: int64

In [241]:
def amenity_counter(x):
    return x.count(r'Garden or backyard')

df['a_garden'] = df.amenities.map(amenity_counter)
df.a_garden.value_counts()

0    40058
1     5557
Name: a_garden, dtype: int64

In [242]:
def amenity_counter(x):
    return x.count(r'First aid kit')

df['a_first_aid'] = df.amenities.map(amenity_counter)
df.a_first_aid.value_counts()

0    29827
1    15788
Name: a_first_aid, dtype: int64

In [243]:
def amenity_counter(x):
    return x.count(r'Safety card')

df['a_safety_card'] = df.amenities.map(amenity_counter)
df.a_safety_card.value_counts()

0    39971
1     5644
Name: a_safety_card, dtype: int64

In [244]:
def amenity_counter(x):
    return x.count(r'Microwave')

df['a_microwave'] = df.amenities.map(amenity_counter)
df.a_microwave.value_counts()

0    29670
1    15945
Name: a_microwave, dtype: int64

In [245]:
def amenity_counter(x):
    return x.count(r'Internet')

df['a_internet'] = df.amenities.map(amenity_counter)
df.a_internet.value_counts()

0    32927
1    12688
Name: a_internet, dtype: int64

In [246]:
def amenity_counter(x):
    return x.count(r'BBQ grill')

df['a_bbq'] = df.amenities.map(amenity_counter)
df.a_bbq.value_counts()

0    44127
1     1488
Name: a_bbq, dtype: int64

In [247]:
def amenity_counter(x):
    return x.count(r'Private living room')

df['a_private_living_room'] = df.amenities.map(amenity_counter)
df.a_private_living_room.value_counts()

0    40492
1     5123
Name: a_private_living_room, dtype: int64

In [248]:
def amenity_counter(x):
    return x.count(r'Private entrance')

df['a_private_entrance'] = df.amenities.map(amenity_counter)
df.a_private_entrance.value_counts()

0    34831
1    10784
Name: a_private_entrance, dtype: int64

In [249]:
def amenity_counter(x):
    return x.count(r'Body soap')

df['a_body_soap'] = df.amenities.map(amenity_counter)
df.a_body_soap.value_counts()

0    45136
1      479
Name: a_body_soap, dtype: int64

In [250]:
def amenity_counter(x):
    return x.count(r'Breakfast')

df['a_breakfast'] = df.amenities.map(amenity_counter)
df.a_breakfast.value_counts()

0    39213
1     6371
2       31
Name: a_breakfast, dtype: int64

In [251]:
def amenity_counter(x):
    return x.count(r'Game console')

df['a_game_console'] = df.amenities.map(amenity_counter)
df.a_game_console.value_counts()

0    45042
1      573
Name: a_game_console, dtype: int64

In [252]:
def amenity_counter(x):
    return x.count(r'Air conditioning')

df['a_air_con'] = df.amenities.map(amenity_counter)
df.a_air_con.value_counts()

0    43157
1     2458
Name: a_air_con, dtype: int64

In [253]:
def amenity_counter(x):
    return x.count(r'24-hour check-in')

df['a_24_hour_checkin'] = df.amenities.map(amenity_counter)
df.a_24_hour_checkin.value_counts()

0    41508
1     4107
Name: a_24_hour_checkin, dtype: int64

In [254]:
def amenity_counter(x):
    return x.count(r'Self check-in')

df['a_self_checkin'] = df.amenities.map(amenity_counter)
df.a_self_checkin.value_counts()

0    35246
1    10369
Name: a_self_checkin, dtype: int64

In [255]:
def amenity_counter(x):
    return x.count(r'Elevator')

df['a_elevator'] = df.amenities.map(amenity_counter)
df.a_elevator.value_counts()

0    34743
1    10872
Name: a_elevator, dtype: int64

In [256]:
def amenity_counter(x):
    return x.count(r'Indoor fireplace')

df['a_fireplace'] = df.amenities.map(amenity_counter)
df.a_fireplace.value_counts()

0    41882
1     3733
Name: a_fireplace, dtype: int64

In [257]:
def amenity_counter(x):
    return x.count(r'Dishwasher')

df['a_dishwasher'] = df.amenities.map(amenity_counter)
df.a_dishwasher.value_counts()

0    34847
1    10768
Name: a_dishwasher, dtype: int64

In [268]:
def amenity_counter(x):
    return x.count(r'Cat(s)')

df['a_cats'] = df.amenities.map(amenity_counter)
df.a_cats.value_counts()

0    44542
1     1073
Name: a_cats, dtype: int64

In [259]:
def amenity_counter(x):
    return x.count(r'Pets allowed')

df['a_pets_allowed'] = df.amenities.map(amenity_counter)
df.a_pets_allowed.value_counts()

0    42055
1     3560
Name: a_pets_allowed, dtype: int64

In [260]:
def amenity_counter(x):
    return x.count(r'Lockbox')

df['a_lockbox'] = df.amenities.map(amenity_counter)
df.a_lockbox.value_counts()

0    38360
1     7255
Name: a_lockbox, dtype: int64

In [261]:
def amenity_counter(x):
    return x.count(r'Building staff')

df['a_building_staff'] = df.amenities.map(amenity_counter)
df.a_building_staff.value_counts()

0    44172
1     1443
Name: a_building_staff, dtype: int64

In [262]:
def amenity_counter(x):
    return x.count(r'Pets live on this property')

df['a_pets_on_property'] = df.amenities.map(amenity_counter)
df.a_fireplace.value_counts()

0    41882
1     3733
Name: a_fireplace, dtype: int64

In [271]:
# Some amenities were included more than once per listing => Change anything >1 to 1:

def to_one(x):
    if x >= 1:
        return 1
    else:
        return 0

In [272]:
amen_cols = [col for col in df.columns if col.startswith('a_')]
print(amen_cols)

['a_wifi', 'a_TV', 'a_cable_tv', 'a_kitchen', 'a_paid_parking_off_premises', 'a_smoking_allowed', 'a_free_street_parking', 'a_buzzer_intercom', 'a_heating', 'a_family_friendly', 'a_washer', 'a_dryer', 'a_smoke_detector', 'a_carbon_monoxide_detector', 'a_fire_extinguisher', 'a_essentials', 'a_shampoo', 'a_lock_bedroom_door', 'a_hangers', 'a_hair_dryer', 'a_iron', 'a_laptop_workspace', 'a_outlet_covers', 'a_bath', 'a_childrens_toys', 'a_babysitter_recs', 'a_crib', 'a_travel_crib', 'a_room_darkening_shades', 'a_childrens_dinnerware', 'a_hot_water', 'a_bed_linens', 'a_extra_pillows', 'a_ethernet', 'a_coffee_maker', 'a_fridge', 'a_dishes_silverware', 'a_cooking_basics', 'a_oven', 'a_stove', 'a_patio_balcony', 'a_luggage_dropoff', 'a_long_term_stay_allowed', 'a_step_free_access', 'a_wide_doorway', 'a_accessible_height_bed', 'a_bath_w_bath_chair', 'a_accessible_height_toilet', 'a_host_greets_you', 'a_handheld_shower_head', 'a_wide_clearance_to_bed', 'a_roll_in_shower', 'a_high_chair', 'a_well_lit_entrance', 'a_flat_path_front_door', 'a_smart_lock', 'a_full_kitchen', 'a_kettle', 'a_wide_entryway', 'a_hot_tub', 'a_single_level_home', 'a_events', 'a_toilet_paper', 'a_bathroom_essentials', 'a_bedroom_comforts', 'a_wheelchair_access', 'a_pool', 'a_doorman', 'a_bath_towel', 'a_garden', 'a_first_aid', 'a_safety_card', 'a_microwave', 'a_internet', 'a_bbq', 'a_private_living_room', 'a_private_entrance', 'a_body_soap', 'a_breakfast', 'a_game_console', 'a_air_con', 'a_24_hour_checkin', 'a_self_checkin', 'a_elevator', 'a_fireplace', 'a_dishwasher', 'a_cats', 'a_pets_allowed', 'a_lockbox', 'a_building_staff', 'a_pets_on_property']

In [275]:
for a in amen_cols:
    df[a] = df[a].map(to_one)

In [278]:
df.head(2)

,Unnamed: 0,id,host_id,host_name,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_verifications,host_has_profile_pic,...,a_24_hour_checkin,a_self_checkin,a_elevator,a_fireplace,a_dishwasher,a_cats,a_pets_allowed,a_lockbox,a_building_staff,a_pets_on_property
0,0,13913,54730,Alina,within a day,60.0,0,4.0,"['email', 'phone', 'facebook', 'reviews']",1,...,0,0,0,0,0,0,0,0,0,0
1,1,15400,60302,Philippa,within a few hours,100.0,0,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",1,...,1,0,0,0,0,0,0,0,0,0

In [283]:
amen_cols.append('id')

In [288]:
amenities_df = df[amen_cols]
amenities_df.head()

,a_wifi,a_TV,a_cable_tv,a_kitchen,a_paid_parking_off_premises,a_smoking_allowed,a_free_street_parking,a_buzzer_intercom,a_heating,a_family_friendly,...,a_self_checkin,a_elevator,a_fireplace,a_dishwasher,a_cats,a_pets_allowed,a_lockbox,a_building_staff,a_pets_on_property,id
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,13913
1,1,1,1,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,15400
2,1,1,0,1,1,0,0,1,1,1,...,0,1,0,1,0,0,0,0,0,17402
3,1,1,1,1,0,0,0,0,1,1,...,1,0,1,0,0,1,1,0,1,24328
4,1,1,0,1,0,0,0,1,1,0,...,0,1,0,0,0,0,0,0,0,25023

In [290]:
# Total amenities per listing:

# Create list of columns to sum across (just amens, not id):

col_list= list(amenities_df)
col_list.remove('id')
col_list[:5]

['a_wifi', 'a_TV', 'a_cable_tv', 'a_kitchen', 'a_paid_parking_off_premises']

In [292]:
amenities_df['total_amenities'] = amenities_df[col_list].sum(axis=1)

/Users/bridmcnulty/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [294]:
amenities_df.head(2)

,a_wifi,a_TV,a_cable_tv,a_kitchen,a_paid_parking_off_premises,a_smoking_allowed,a_free_street_parking,a_buzzer_intercom,a_heating,a_family_friendly,...,a_elevator,a_fireplace,a_dishwasher,a_cats,a_pets_allowed,a_lockbox,a_building_staff,a_pets_on_property,id,total_amenities
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,13913,52
1,1,1,1,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,15400,22

In [295]:
amenities_df.to_csv("amenities.csv")